Hostname: {{ansible_net_hostname}}
MODEL: {{ansible_net_model}}

SERIAL NUMBER(S):
{% if ansible_net_stacked_serialnums is defined %}
{% for serial in ansible_net_stacked_serialnums %}
{{serial}}
{% endfor %}
{% else %}
{{ ansible_net_serialnum }}
{% endif %}
